body {
    text-align: center;
}

.container {
    margin-bottom: 5rem;
}

.time {
    margin-bottom: 5rem;
}

.history {
    border: solid green 3px;
    padding: 6px;
    margin: auto 15vw;
    text-align: left;
}

.entry {
    padding: 0 3px;
    margin: 3px;
    display: inline-block;
}